.form{
    margin:4pc;
    display: inline-block;
}

input{
    height: 4pc;
    width: 64pc;
    margin-left: 4pc;
    border-radius: 2pc;
    font-size: 2rem;
    padding: 1pc;
}

button{
    background-color: #d87093;
    border-radius: 2pc;
    height: 5pc;
    width: 32pc;
    margin-left:4pc;
    margin-top:5pc;
    font-size: 3rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

button:hover{
    transform: scale(1.1);
}

input{
    height: 50px;
    width: 500px;
    margin-left: 4pc;
    border: 2px solid white;
}

.successMessage {
    color: green;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.errorMessage {
    color: red;
    font-size: 1.2rem;
    margin-top: 1rem;
}
