*{
    color: rgb(224, 225, 221);
}

.headings{
    color: rgb(119, 141, 169);
    margin: 4pc;
}

.headers{
    margin-left: 4pc;
    font-size: 3rem;
    font: bold;
    margin: 4pc;
}

.skills{
    margin: 5pc;
    font-size: 3rem;;
}
